body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#cityName {
  /*START OF ALIGNMENT*/
  text-align: center;

  /*START OF STYLE*/
  font-size: 38px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-shadow: 0px 4px 4px #e0e0e0;
  text-transform: capitalize;
}

.weather-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(85, 85, 85, 0.1);
}

#weather-icon {
  margin-bottom: 20px;
}

#weather-word-descriptor {
  font-weight: bold;
  font-size: larger;
}

#main-degree-number {
  font-weight: bold;
  font-size: 38px;
}
.temp-units .btn {
  border-radius: 200px;
  font-weight: light;
  font-size: 9px;
}

.temp-units {
  margin-left: 90%;
}
